

.bodyhome {
    font-family: 'Lacquer', system-ui;
    background-color: #1C2541;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh; /* Ensure the body covers the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url('assets/cursor.png'), auto;
}

.randobutton{
    position: absolute;
    width: 166px;
    height: 200px;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: url('assets/cursor.png'), auto;
    font-family: 'Lacquer', system-ui;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.randobutton:hover {
    cursor: url('assets/cursorHover.png'), auto;
    transform: scale(1.1);
}

.imgcontainer {
    padding: 2rem;
    color: #000000;
    text-align: center;
    max-height: 100%;
    position: absolute;

}

.imgcontainer:hover {
    background-image: url(assets/reverse.png);
}

.gif-background {
    background-image: url('https://github.com/alex-pedroza/limninal3rdspot/blob/main/assets/limninal2.gif?raw=true');
    background-color: #1C2541;
    background-position: left top;
    background-size: contain;
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    position: absolute;

    
}
